VITE_API_CLIENTES_URL=http://localhost:8001
VITE_API_VEHICULOS_URL=http://localhost:8002
VITE_API_ENVIOS_URL=http://localhost:8003
VITE_API_TRACKING_URL=http://localhost:8004
VITE_API_ANALYTICS_URL=http://localhost:8005
